<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Crata- Supervisor Portal</title>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="styles/corporate.css">
        <script src="js/jquery.js" defer></script>
        <script src="https://kit.fontawesome.com/6bb208eccf.js" 
        crossorigin="anonymous"></script>
        <script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
        <script src='https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.19.2/js/jquery.fileupload.min.js'
         type="text/javascript"></script>
    </head>
    <style>
</style>
    <body style="background-color: black;" >
        <div style="background-color: rgb(98, 44, 41);;" class="rect_1"></div>
            <div style="background-color: #fff; height: 45px; border-bottom: 1px solid aqua;" 
            class="rect_2"></div>
                <div style="background: rgb(232, 56, 46);" class="rect_3"></div>
                    <div id="header">
                        <div class="contain">
                            <div style="height: 5px;" class="banner">
                                <img src="public/Unified Payments logo.jpg" alt="spar logo design" style="float:left">
                                  </div>                  
                            <nav>
                                <ul>
                                    <li><a style="margin-left: 170px;" href="#">Roadmaps</a></li>
                                    <li><a href=" ">Assign Merchant &#160</a></li>
                                    <li><a href=" ">View Pending</a></li>
                                    <li><a href="/pdoPerformance">PDO Performance</a></li>
                                    <li><a href="">Submit Task &#160</a></li>
                                    <li><a href="/indexAdmin">View Printout</a></li>
                                    <li><a style="margin-left: 370px;display:none" href="#">                              &#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160</a></li>            
                            <li><a  class="sign_in" style="background-color: orange;
                             margin-left: 1000px;padding: 5px 10px; border-radius: 2px; font-weight: 300;" 
                            href="#">Logout</a></li>
                        </ul>  
                    </nav>
                </div>
            </div>
        <div class="form">
     <!-- FORM BEGINS HERE-->
        <form id="uploadForm" action="/supervisor" method="POST" enctype="multipart/form-data">
            <div class="loginform">
                <div class="inputs">
                    <div>
                        <label for="merchant_name"></label>
                        <input type="text" id="merchant_name" name="merchant_name" required maxlength="50" placeholder="Merchant Name">
                        <div class="error" id="merchant_name_error"></div>
                        </div>
                    <div>
                        <label for="merchant_address"></label>
                        <input type="text" id="merchant_address" name="merchant_address" required minlength="15" maxlength="20" placeholder="Merchant Address">
                        <div class="error" id="merchant_address_error"></div>
                    </div>
                    <div>
                        <label for="terminal_id"></label>
                        <input type="text" id="terminal_id" name="terminal_id" required maxlength="10" placeholder="Terminal ID">
                        <div class="error" id="terminal_id_error"></div>
                    </div>
                    <div>
                        <label for="reference"></label>
                        <input type="text" id="reference" name="reference" required maxlength="11" placeholder="PDO_Reference">
                        <div class="error" id="reference_error"></div>
                    </div>
                    <div class="field">
                      <label></label>                                 
                      <section class="section">
                        <div>
                            <label style="color:grey" for="image">Upload image here:</label><br><br>
                            <input name="image" type="file" class="input-files" accept="image/*" data-cloudinary-field="image_id" id="fileInput">
                            <div id="fancy-file-upload"></div>
                            <div class="error" id="fileInput_error"></div>
                            <progress id="progressBar" value="0" max="100" style="width: 100%;"></progress>
                        </div>
                    <br>
                    <button type="submit" class="upload" id="create-account" 
                    style="background-color: orange; padding: 10px 13px; cursor: pointer;
                     border: 2px solid rgba(241, 0, 173, 0.865); border-radius: 5px;color: #fff;"
                     >POST</button>
                </div>
            </div>
        </form>
    <div class="row">
            <div class="col-sm-12">
                <div class="preview-images"></div>
            </div>
        </div>
    </div>
</div>         
<script>
  $(document).ready(function() {
    let imagesPreview = function(input, placeToInsertImagePreview) {
      if (input.files) {
        let filesAmount = input.files.length;
        for (i = 0; i <= filesAmount; i++) {
          let reader = new FileReader();
            reader.onload = function(event) {
            $($.parseHTML("<img>"))
        .attr("src", event.target.result)
      .appendTo(placeToInsertImagePreview);
    };
  reader.readAsDataURL(input.files[i]);
}
}
};
$(".input-files").on("change", function() {
imagesPreview(this, "div.preview-images");
});
});
</script>  
</body>    
</html>
