<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Crata- Supervisor Portal</title>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="styles/corporate.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <script src="https://product-gallery.cloudinary.com/latest/all.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.js"></script>
        <script src="https://kit.fontawesome.com/6bb208eccf.js" crossorigin="anonymous"></script>
    </head>
    <style>
        .grid-wrapper {
            background-color: rgba(220, 220, 220, 0.763);
            position: absolute;
            margin-left: px;
            max-width: 1440px;
            /* Updated to max-width */
            height: 100vh;
            width: 100%;
            margin: 10px 0px;
            /* Center the grid */
            /* margin-left: 200px; */
            padding: 0 15px;
            /* Add padding */

        }

        .max-hw {
            height: 100% !important;
            width: 100% !important;
        }

        .gallery-wrapper {
            width: 80%;
            margin: 25px auto;
            background-color: gainsboro;
            padding: 5px;
            border-radius: 5px;
            border: 2px solid aliceblue;
            box-shadow: 0 4px 0px rgba(0, 0, 0, 0.1);
        }

        .metric {
            border: 1px solid orange;
            height: 50px;
            width: 100%;
            background-color: rgb(247, 190, 35);
            color: white;
            display: flex;
            align-items: center;
            font-size: 17px;
            justify-content: center;
            border-radius: 5px;
            transition: transform 0.2s;
            /* Smooth hover effect */
        }
        /* controls the gallery container*/
        #controller_2 {
                align-items:center;
                /* border: 5px solid red; */
            }
            /* semantic ui grid cotaining metrics and chart/gallery*/
        .ui.grid {
            border: 2px solid whitesmoke;
            margin: 5px auto;
        }

        .metric:hover {
            transform: scale(1.05);
        }

        #myChart {
            background-color: gainsboro;
            max-width: 80%;
            height: 350px;
            margin: 25px auto;
            border-radius: 5px;
            border: 2px solid #fff;
        }

        #myGallery {
            max-width: 80%;
            height: 280px;
            margin: 30px 0;
            background-color: gainsboro;
        }
        #text_color a{
            color: #fff;
        }
       #text_color i{
        color: #fff;
       }
       #text_color a:hover {
        background-color: orange;
       }
        @media (max-width: 484px) {
            body {
                flex-direction: column;
                max-width: 484px;
                font-size: 15
                px;
                /* Updated to max-width */
            }

            .grid-wrapper {
                flex-direction: column;
                max-width: 480px;
                height: 100%;
                border: 2px solid blue;
            }

            .gallery-wrapper {
                display: block;
                flex-direction: column;
                width: 100% !important;
                height: 200px;
                background-color: gainsboro;
                border-radius: 5px;
                box-shadow: 0 4px 0px rgba(0, 0, 0, 0.1);
            }

            .ui.sidebar {
                width: 30%;
            }

            #myChart {
                flex-direction: column;
                height: 80% !important;
                width: 100% !important;
                margin: 0px auto;
                border: 1px solid orange;

            }
            .item:hover{
                background-color: blue;
            }
            #myGallery {
                flex-direction: column;
                background-color: aqua;
                border: 1px solid black;
                margin: 0px auto;
                width: 350px;
                height: 180px;
            }

            #controller {
                height: 90% !important;
                width: 90% !important;
            }

            #controller_2 {
                height: 90% !important;
                width: 90% !important;
            }

            .ui.grid {
                flex-direction: column;
                margin: 10px auto;
                max-width: 300px;
                font-size: 12px;
                ;
                padding: none;
            }

            .metric {
                flex-direction: column;
                height: 30px;
                width: 270px;
                margin-left: 25px;
                margin: -10px auto;
                padding: 0px auto;
                ;
                font-size: 10px;
                ;
            }

            .ui.menu {
                font-size: 12px;
                padding: none;
            }

            .eight.wide.column {
                flex-direction: column;
                align-self: center;
            }

            .ui.borderless.fixed.menu {
                width: 100%;
            }
        }

        .fa-solid {
            float: right;
        }
        p{
            margin-top: 25px;
            margin-left: 25px;
            font-size: 14px;
        }

        .ui.sidebar {
            z-index: 1000;
            /* Ensure sidebar is above content */
            height: calc(100% - 50px);
            /* Make sidebar height fill the remaining space */
            width: 200px !important;
            flex-direction: center;
            padding-top: 45px;
            align-items: center;
            justify-content: center;
        }

        .profile-img {
            display: block;
            margin: auto;
        }
</style>
    <body style="background-color: gray;" >
        <div style="background:gray" class="rect_1"></div>
            <div style="background-color: black; height: 45px;" 
            class="rect_2"></div>
                <div style="background:orange;" class="rect_3"></div>
                    <div id="header">
                        <div class="contain">
                            <div style="height: 4px;" class="banner">
                                <img src="public/Unified Payments logo.jpg" alt="spar logo design" style="float:left">
                </div>                  
                    <nav>
                        <ul>
                            <li><a style="margin-left: 100px;"href="#">My Riders</a></li>
                            <li><a href="/pendingReview">Pending Review</a></li>
                            <li><a href="/assignTask">Assign Merchant  &#160</a></li>
                            <li><a href="/pdoPerformance">PDO Performance</a></li>
                            <li><a href="/indexAdmin">Image Search</a></li>
                            <li><a href="/transGallery">Image Gallery</a></li>
                    </ul>  
                </nav>
            </div>
        </div>  
            <script>
                $(document).ready(function () {
                    $('.ui.sidebar').sidebar({
                        transition: 'overlay',
                        style: 'push'
                    });
                    $('#menu-toggle').click(function () {
                        $('.ui.sidebar').sidebar('toggle');
                    });
                });
            </script>
            <div class="pusher">
                <div  class="grid-wrapper">
        
              
        
                    <div class="ui grid">
                        <div style="border: 5px solid rgb(239, 184, 81); 
                        width: 100%; display: block;" id="controller" class="eight wide column">
                            <div style=": 2px solid orange;" id="myChart"></div>
                        </div>
                        <div id="controller_2" class="eight wide column">
                            <div class="gallery-wrapper">
                                <div id="myGallery"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function() {
                       
                        if (userTag) {
                            const myGallery = cloudinary.galleryWidget({
                                container: "#myGallery",
                                cloudName: "iyu",
                                default: { theme: 'default' },
                                mediaAssets: [{ tag: userTag }]
                            });
                            myGallery.render();
                        } else {
                            console.error('No tag found for user.');
                        }
        
                        const options = {
                            chart: {
                type: 'bar',
                height: '350', // or 'auto' for flexible height
            },
            responsive: [{
                breakpoint: 454,
                options: {
                    chart: {
                        height: 200 // adjust height for smaller screens
                    },
                },
            }],
                            series: [{
                                name: 'Total Visits',
                                data: [10, 15, 25, 50, 100, 101, 19] // Sample data
                            }],
                            xaxis: { categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'] }
                        };
                        const chart = new ApexCharts(document.querySelector("#myChart"), options);
                        chart.render();
                    });
                </script>
            </div>       
    </body>    
</html>
