<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Crata- Supervisor Portal</title>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="styles/corporate.css">
        <script src="js/jquery.js" defer></script>
        <script src="https://kit.fontawesome.com/6bb208eccf.js" 
        crossorigin="anonymous"></script>
        <script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
        <script src='https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js'></script>
        <script src="https://cdn.jsdelivr.net/jquery.cloudinary/1.0.18/jquery.cloudinary.min.js" type='text/javascript'></script>
    </head>
    <style>
</style>
    <body style="background-color: gray;" >
        <div style="background:gray" class="rect_1"></div>
            <div style="background-color: #fff; height: 45px;" 
            class="rect_2"></div>
                <div style="background:orange;" class="rect_3"></div>
                    <div id="header">
                        <div class="contain">
                            <div style="height: 4px;" class="banner">
                                <img src="public/Unified Payments logo.jpg" alt="spar logo design" style="float:left">
                </div>                  
                    <nav>
                        <ul>
                            <li><a style="margin-left: 100px;"href="#">Roadmaps</a></li>
                            <li><a href=" ">Assign Task &#160</a></li>
                            <li><a href="/pdoPerformance">PDO Performance</a></li>
                            <li><a href="/indexAdmin">Image Search</a></li>
                            <li><a href="/transGallery">Image Gallery</a></li>
                    </ul>  
                </nav>
            </div>
        </div>  
    </body>    
</html>
