<body style="background-color: GRAY;">
    <div style="background-color: #0b3b58;" class="rect_1"></div>
        <div style="height: 50px; 
            background-image: linear-gradient(160deg, #133950 0%, #060a0a 100%);" 
                class="rect_2"><h3 class="formheading">&#160&#160&#160Cata&#160&#160&#160<i 
                    style="margin-top: 0px;
                    background: rgb(232, 56, 46); display: none; border-radius: 10px;color:
                 red;">&#160</i><span><i style="color: rgb(232, 56, 46);"></i>
            </h3>
                <div>
                    <nav>
                        <button style="background-color: rgb(193, 188, 179); padding: 5px 10px;color: white;
                        margin-left: 1050px;text-decoration: none;
                        cursor: pointer;">
                    <li style="list-style: none;"><a style="color: white;" href="/dashboard">Back to Dashboard</a></li>
                </button>
            </nav>
        </div>
    <div style="background: rgb(232, 56, 46);display: none;" class="rect_3"></div>
</div>      