
    <body style="background-color: #0093E9; background-image: linear-gradient(160deg, #133950 20%, #19ddc6 80%);" >
        <div style="background-color: #0b3b58;" class="rect_1"></div>
            <div style="height: 60px; 
                background-image: linear-gradient(160deg, #133950 0%, #060a0a 100%);" 
                    class="rect_2"></div>
                        <div style="background: rgb(232, 56, 46);" class="rect_3"></div>
                            <h3 href="#"class="formheading">&#160&#160&#160Crata&#160&#160&#160<i 
                        style="margin-top: 8px; margin-top:5px; height: 25px; margin-left: -14px;;
                    background: rgb(232, 56, 46);;border-radius: 10px;color:
                 white;">&#160</i><span><i style="color: rgb(232, 56, 46);"></i>
            </h3>
        </div>      