<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Arhena-Daily Visits</title>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="styles/visit_main.css" type="text/css" media="all">
        <script src="js/jquery.js" defer></script>
        <script src="https://kit.fontawesome.com/6bb208eccf.js" 
        crossorigin="anonymous"></script>
</head>
<body style="background-color: #0093E9; background-image: linear-gradient(160deg, #133950 20%, #19ddc6 80%);" >
        <div style="background-color: rgb(98, 44, 41);;" class="rect_1"></div>
            <div style="background-color: #0093E9; height: 60px; 
            background-image: linear-gradient(160deg, #133950 0%, #060a0a 100%);" 
            class="rect_2"></div>
            <div style="background: rgb(232, 56, 46);" class="rect_3"></div>
            <h3 href="#"class="formheading">&#160&#160&#160Crata&#160&#160&#160<i 
            style="margin-top: 8px; margin-top:5px; height: 25px; margin-left: -14px;;
                background: rgb(232, 56, 46);;border-radius: 10px;color:
                 white;">&#160</i><span><i style="color: rgb(232, 56, 46);"></i>
                </h3>
                <div id="header">
                <div class="contain">                  
                    <nav>
                        <ul>
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="#">Roadmap</a></li>
                            
                            <li>
                            <a  href="/capture">Data Capture</a></li>
                            <li style="border-bottom: 2px solid orangered;"><a style="color: orangered" 
                              href="/visits ">> Visitation</a></li>
                            <li><a href="">Wallet</a></li>                                  
                            <li><a href="/dashboard">Dashboard</a></li>           
                            <% if (msg_success) {%>
                                <div class="alert_success"><%= msg_success %></div>
                            <% } %>
                            <form action="/visits" method="POST" enctype="multipart/form-data">
                            <div class="loginform">              
                          <div class="inputs">
                        <div>
                      <label for="merchant_name">
                    <input style="margin-top: 0px;" type="text"
                  id="merchant_name" name="merchant_name" required="" maxlength="50" placeholder="Merchant Name" >
                </label>
              </div>
            <div>
              <label for="merchantAddress">
                <input style="margin-top: 0px;" type="text" id="merchantAddress" 
                  name="merchant_address" required="" maxlength="100" placeholder="Merchant Address" >
                    </label>
                      </div>
                        <div>
                            <label for="terminal_id">
                              <input style="margin-top: 0px;" type="text" id="terminal_id" 
                            name="terminal_id" required="" maxlength="10" placeholder="Terminal ID" >
                          </label>
                        </div>
                      <div> 
                    <label for="status">
                  <input style="margin-top: 0px;" type="text"
                    id="status" name="status"  maxlength="10" placeholder="Status(1- OK, 2- NOK, 3-RET, 4-DENIED, 5-NAL)" required>
                      </label>
                          </div> 
                          <div>
                            <label for="reference">
                                      <input style="margin-top: 0px;" type="text"
                                    id="reference" name="reference" maxlength="11" placeholder="PDO_Reference" required>
                                  </label>
                                </div>                                        
                            <section class="section">
                              <div><br>
                                <label for="image">Upload image here:</label><br><br>
                                  <input type="file" name="image" id="input-files" 
                                    accept="image/*">
                                    </div> 
                                      </section>
                                  <br>
                                <button class="upload" type="submit" id="create-account" 
                              style="background-color: orangered; padding: 10px 13px; cursor: pointer;
                          border: 2px rgba(241, 0, 173, 0.865) solid ; color: white;">Upload</button>
                        <div class="row"> 
                      <div class="preview-images"></div>
                    <!-- script to show img preview --->
                  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
                      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                        <script>
                          $(document).ready(function() {
                            let imagesPreview = function(input, placeToInsertImagePreview) {
                              if (input.files) {
                                for (i = 0; i < filesAmount; i++) {
                                  let reader = new FileReader();
                                      reader.onload = function(event) {
                                      $($.parseHTML("<img>"))
                                      .attr("src", event.target.result)
                                      .appendTo(placeToInsertImagePreview);
                                      };
                                      reader.readAsDataURL(input.files[i]);
                                      }
                                    }
                                  };
                                $("#input-files").on("change", function() {
                              imagesPreview(this, "div.preview-images");
                            });
                          });
                        </script>
                </form>             
            </ul>  
        </nav>
      </div> 
    </div>   
  </body>
</html>