<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Arhena dashboard</title>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="styles/dashboard.css" type="text/css" media="all">
        <script src="js/jquery.js" defer></script>
        <script src="https://kit.fontawesome.com/6bb208eccf.js" 
        crossorigin="anonymous"></script>
</head>
    <body>
        <div style="background-color: rgb(98, 44, 41);;" class="rect_1"></div>
            <div style="background-color: #0093E9; height: 578px; 
            background-image: linear-gradient(160deg, #133950 0%, #060a0a 100%);" 
            class="rect_2"></div>
            <div style="background: rgb(232, 56, 46);" class="rect_3"></div>
            <h3 href="#"class="formheading">&#160&#160&#160arena&#160&#160&#160<i 
                style=" padding-bottom: -200px; margin-top:-100px; margin-left: -12px;;
                background-color: orangered;border-radius: 10px;color:
              white;">&#160</i><span><i style="color: rgb(232, 56, 46);"></i>
            </h3>
                <div id="header">
                <div class="contain">                  
                    <nav>
                        <ul>
                            &#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160
                            <li><a href="#">Profile</a></li>
                            <li><a href=" ">Roadmap</a></li>
                            <li><a href="/capture">Data Capture</a></li>
                            <li><a href="/visits ">Daily Visitation</a></li>
                            <li><a href=" ">Submit Task</a></li>
                            <li><a href="">My Earnings</a></li>                                  
                            <li><a href="auth/logout">Logout</a></li>
                </ul>  
            </nav>
        </div>   
    </body>
</html>