<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Arhena dashboard</title>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="styles/dashboard.css" type="text/css" media="all">
        <script src="js/jquery.js" defer></script>
    <script src="https://kit.fontawesome.com/6bb208eccf.js" crossorigin="anonymous"></script>
</head>
    <body style="background-color: #0093E9; background-image: linear-gradient(160deg, #133950 10%, #19ddc6 80%);" >
        <div style="background-color: rgb(98, 44, 41);;" class="rect_1"></div>
            <div style="height: 60px; 
                background-image: linear-gradient(160deg, #133950 0%, #060a0a 100%);" 
                    class="rect_2"></div>
                        <div style="background: rgb(232, 56, 46);" class="rect_3"></div>
                    <h3 href="#"class="formheading">&#160&#160&#160Crata&#160&#160&#160<i 
                style="margin-top: 8px; margin-top:5px; height: 25px; margin-left: -14px;;
            background: rgb(232, 56, 46);;border-radius: 10px;color:
        white;">&#160</i><span><i style="color: rgb(232, 56, 46);"></i>
        </h3>
            <div id="header">
                <div class="contain">                  
                    <nav>
                        <ul>
                        <li><a href=" /profile">Profile</a></li>
                        <li><a href="#">Roadmap</a></li>
                        <li><a href="/capture">Data Capture</a></li>
                        <li><a href="/visits ">Visitation</a></li>
                        <li><a href="">Wallet</a></li>                                  
                        <li><a href="/dashboard">Logout</a></li>                          
                    </ul>  
                </nav>
            </div> 
        </div>          
    </body>
</html>