<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>task_completion portal</title>     
  </head>
  <!---- page styling ---->
<style>
 @font-face {
              font-family: "script-fonts";
              src: url("./Norse-Bold.otf");
            }
   /* Image Section */
.image-section {
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
    flex: -4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
  }
a {
color: black;
}
.banner img {
    height: 30px;
    width:  50px;
    position:absolute-left;
    top:0;
    left:0;
    margin-right: 100px;
}

.banner h2{
    margin: 300px;
  }
  .attribution {
    font-size: 0.5rem;
}
/* Text Section */
label, input{
    display:flex;
    flex-direction:column;
    margin-left: 100px;
    color: black;
  }
label{
    color: whitesmoke;
       }
.text-section {
    flex: 15;
    font-size: 10;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
           }
.text-section > p {
    font-size: 20px;
    margin-left: var(--right-space);
    font-weight: 10px;
    max-width: 80%;
    margin-bottom: 10px;
    padding-left: 80PX;
 }
 .inputs-section {
    color: red;
    background-color: black;
    background-image: linear-gradient(160deg, #133950 0%, #309084 100%);
    padding: 70px 0px;
}
/**** styles and positions the input boxes ****/
   .inputs-section input {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px 100px;
    width: 100%;
    font-size: 1rem;
    margin: 0px 100px 0px 0px;
              }
  .inputs > div {
    display: flex;
    flex-wrap: wrap;
    column-gap: 84px;
    row-gap: 18px;
    margin-bottom: 18px;
}

.inputs label {
    display: block;
}
input.focus {
    border: 1px solid;
    box-shadow: 2px 1px 2px 2pxgba blueviolet;
}

input.error {
    border: 1px solid red;
}

.error-message {
    margin-top: 0;
    font-size: 0.8rem;
    color: red;
    margin-left: 170px;
}

#create-account {
margin-left: var(--left-space);
margin-top: 10px;
border: none;
background-color:black;
padding: 5px 10px 5px 10px;
cursor: pointer;
color: white;
font-weight: 500;
font-size: 1.0rem;
}

p.log-in {
font-weight: 400;
font-size: 1rem;
margin-top: 10px;
}
.log-in a {
      color: whitesmoke;
      font-weight: bold;
      text-decoration: none;
}
div.preview-images > img {
  width: 200%;
  height: 100px;
  margin: -50px 0 0 300px;
}
</style>
<body>
<div class="content">
<div class="image-section">
<form action="/capture" 
method="POST" enctype="multipart/form-data">                                                                                                                                                                                                                             <div class="banner">
<img src="images/Unified Payments logo.jpg" alt="spar logo design" style="float:left">
</div>
    </div>
      <div class="text-section"><br>
        <p style= "color:black; background-color: black; font-size: 20px;">CREATE A RECORD</p><br>         
          <div class="inputs-section margin-right:20px">
            <div class="inputs">
              <div>
                </div>
                  <div>
                    <div>
                        <label for="email"><B>TASK DESCRIPTION</B></label<br>
                        <input type="email" id="email" name="email"/>
                    </div>
                  <div>
                <label for="terminal-identity"><b>TRACKING CODE</b></label<br>
              <input type="tel" id="terminal-identity" name="terminal_id"/>
            </div>
              <div>
                <label for="terminal-identity"><b>DISPATCHER CODE</b></label<br>
                  <input type="tel" id="terminal-identity" name="terminal_id"/>
                    </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
                  <div>
                <label for="terminal-identity"><b>TASK MANAGER ID</b></label<br>
              <input type="tel" id="terminal-identity" name="terminal_id"/>
            </div>                
              </div>
                <div>
                  <div>
                    <label for="confirm-password"><b>START DATE</b></label<br>
                      <input type="text" class="error" id="confirm-password" name="PDO CODE" required/>
                    </div>
                  <div>
                <label for="confirm-password"><b>END DATE</b></label<br>
              <input type="text" class="error" id="confirm-password" name="PDO CODE" required/>
            </div>
              <div>
                <label for="confirm-password"><b>STATUS</b></label<br>
                  <input type="text" class="error" id="confirm-password" name="PDO CODE" required/>
                    </div>
              <section class="section">
                <div>
                  <label for="image">UPLOAD Image:</label>
                    <input type="file" name="file" id="input-files" 
                      accept="image/*">
                  </div> 
                </section>
              <button type="submit" id="create-account" style="background-color: whitesmoke;
            color:black">Upload</button>
        <hr/>
      <div class="row">
        <div class="preview-images"></div>
    <!-- script to show img preview ----->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script>
        $(document).ready(function() {
          let imagesPreview = function(input, placeToInsertImagePreview) {
            if (input.files) {
              for (i = 0; i < filesAmount; i++) {
                let reader = new FileReader();
              reader.onload = function(event) {
$($.parseHTML("<img>"))
.attr("src", event.target.result)
.appendTo(placeToInsertImagePreview);
};
          reader.readAsDataURL(input.files[i]);
                    }
                  }
                };
              $("#input-files").on("change", function() {
            imagesPreview(this, "div.preview-images");
          });
        });
      </script>
      </form>
  </body>
</html>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       

