<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Crata-New Visit</title>
        <link rel="stylesheet" href="styles/dashboard.css" type="text/css" media="all">
        <!-- <script src="js/jquery.js" defer></script> -->
      <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- jQuery UI Widget -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.19.2/js/vendor/jquery.ui.widget.min.js"></script>
    <!-- jQuery Iframe Transport -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.19.2/js/jquery.iframe-transport.min.js"></script>
    <!-- jQuery File Upload -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.19.2/js/jquery.fileupload.min.js"></script>
    <!-- cloudinary-jquery-file-upload -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-jquery-file-upload/2.13.0/cloudinary-jquery-file-upload.min.js"></script>
    <script src='https://cdn.jsdelivr.net/jquery.cloudinary/1.0.18/jquery.cloudinary.min.js' type='text/javascript'></script>
       <style> 
       div.preview-images > img {
          width: 70%;
          height: 60%;
          margin-top: -450px;
          margin-left: 450px;
          position: relative;}
        </style>
      </head>
    <body>
   
<header>
    <%- include('../partials/header'); %>
</header>
      <div id="header">
          <div class="contain">                  
            <nav>
              <ul>
                <li><a href="/profile">Profile</a></li>
                  <li><a href="#">Roadmap</a></li>
                    <li><a  href="/capture">Data Capture</a></li>
                      <li style="border-bottom: 2px solid orangered;"><a style="color: orangered" 
                        href="/visits "># New Visit</a></li>
                          <li><a href="">Wallet</a></li>                                  
                        <li><a href="/logout">Logout</a></li>           
                      <% if (msg_success) {%>
                    <div class="alert_success"><%= msg_success %></div>
                  <% } %>
                  <!-- FORM BEGINS HERE-->
                <form id="uploadForm"  action="/visits" method="POST" enctype="multipart/form-data">
              <div class="loginform">              
            <div class="inputs">
           <div>
        <label for="merchant_name">
      <input style="margin-top: 0px;" type="text"
    id="merchant_name" name="merchant_name" required="" maxlength="50" placeholder="Merchant Name" >
  </label>
    </div>  
         <div>
              <label for="merchantAddress">
                <input style="margin-top: 0px;" type="text" id="merchantAddress" 
                  name="merchant_address" required="" maxlength="100" placeholder="Merchant Address" >
                    </label>
                      </div> 
                         <div>
                            <label for="terminal_id">
                              <input style="margin-top: 0px;" type="text" id="terminal_id" 
                            name="terminal_id" required="" maxlength="10" placeholder="Terminal ID" >
                          </label>
                        </div> 
                      <div> 
                     <label for="status">
                  <input style="margin-top: 0px;" type="text"
                id="status" name="status"  maxlength="10" placeholder="Status(1- OK, 2- NOK, 3-RET, 4-DENIED, 5-NAL)" required>
              </label>
            </div> 
          <div>
            <label for="reference">
              <input style="margin-top: 0px;" type="text"
                id="reference" name="reference" maxlength="11" placeholder="PDO_Reference" required>
                  </label>
                    </div>  
                       <div class="field">
                        <label></label>
                                                             
            <section class="section"><br>
          <div>
        <label for="image" style="color: #fff;">Upload image here:</label><br><br>
          <input name="image" type="file" class="input-files" accept="image/*" data-cloudinary-field="image_id" id="fileInput">
          <progress id="progressBar" value="0" max="100" style="width: 100%;" ></progress>
          </div>
                  </div><br>
                    </section>
                      <button type="submit" class="upload"  id="create-account" 
                        style="background-color: orangered; padding: 10px 13px; cursor: pointer;
                        border: 2px rgba(241, 0, 173, 0.865) solid ; color: white;">POST</button>
                      </form>
                    <div class="row"> 
                  <div class="col-sm-12">
                <div class="preview-images"></div>
              </div>
            <!-- script to show img preview --->
          <div>
        <%- include('../partials/scripts'); %>
    </div> 
    </div>
  </div>
  <script>
$(function () {
    $('#fileInput').cloudinary_fileupload({
        cloud_name: 'dakvtodbs', // replace with your Cloudinary cloud name
        upload_preset: ' ', // replace with your Cloudinary upload preset
        multiple: false,
        maxFileSize: 5000000, // Example: 5MB max file size
    }).bind('fileuploadprogressall', function (e, data) {
        var progress = Math.round((data.loaded * 100.0) / data.total);
        $('#progressBar').attr('value', progress);
    }).bind('cloudinarydone', function (e, data) {
        // Handle the upload success
        alert('File upload successful');
        // Optionally, you can display the uploaded image
        var img = $('<img>').attr('src', data.result.secure_url);
        $('.preview-images').html(img);
    }).bind('fileuploadfail', function (e, data) {
        // Handle the upload failure
        alert('File upload failed');
    });
});
    </script>
  </body>
</html>