<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>Crata - Data Capture</title>
    <% include ('../partials/head'); %>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/dashboard.css" type="text/css" media="all">
    <script src="js/jquery.js" defer></script>
    <script src="https://kit.fontawesome.com/6bb208eccf.js" 
    crossorigin="anonymous"></script>
</head>
<header>
    <%- include('../partials/header'); %>
  </header>
        <div id="header">
            <div class="contain">                  
                <nav>
                    <ul>
                        <li><a href="/profile">Profile</a></li>
                            <li><a href="#">Roadmap</a></li>
                        <li style="border-bottom: 2px solid orangered;">
                        <a style="color: #ff4500;" href="/capture"># Data Capture</a></li>
                    <li><a href="/visits ">New Visit</a></li>
                <li><a href="">Wallet</a></li>                                  
            <li><a href="/dashboard">Logout</a></li>      
        </ul> 
    </nav>    
<form action="/capture" method="POST">    
    <div class="loginform">                  
        <div class="inputs">
            <div>
                <label for="application_type">
                    <input style="margin-top: -50px;" type="text"
                        id="application_type" name="application_type" required="" 
                            maxlength="6" placeholder="Application Type" >
                                </label>
                            </div>
                        </div>
                    <div>
                <label for="term_type">
            <input style="margin-top: 0px;" type="text" id="term_type" 
        name="term_type" required="" maxlength="10" placeholder="Terminal Type" >
    </label>
        </div>
            <div>
                <label for="term_serial">
                    <input style="margin-top: 0px;" type="text"
                        id="term_serial" name="term_serial"  maxlength="11" placeholder="Terminal Serial Num" 
                            required>
                                </label>
                            </div>
                        <div>
                    <label for="sim_type">
                <input style="margin-top: 0px;" type="text" id="sim_type" 
            name="sim_type" required="" maxlength="3" placeholder="Sim Type" >
        </label>
    </div>
        <div>
            <label for="sim_serial">
                <input style="margin-top: 0px;" type="text"
                    id="sim_serial" name="sim_serial" maxlength="11"
                     placeholder="Sim Serial Num" required>
                        </label>
                            </div>  
                                <div>
                                    <label for="status">
                                <input style="margin-top: 0px;" type="text" id="status" 
                                name="status"  maxlength="3" placeholder="Status (1- Ok, 2- Nok, 3-RET, 4-Denied, 5-Nal, 6-Faulty)" required>
                        </label>
                    </div>
                <div>                         
            <label for="pdo_ref"><b></b>
        <input type="text" name="reference" id="pdo_ref" required
    maxlength="11" placeholder="PDO_Reference" minlenth="10">
        </label>
            </div>
                <div class="login_button">
                    <input type="submit" value="Submit">
                        </div><br><br> <br>
                            </div>
                                </div>
                            </div>
                        </form>
                    </ul>  
                </nav>
            </div> 
        </div>    
    </body>
</html>