<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>Crata - User Profile</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/dashboard.css"  media="all">
    <script src="js/jquery.js" defer></script>
    <script src="https://kit.fontawesome.com/6bb208eccf.js" 
    crossorigin="anonymous"></script>
</head>
<body>
<header>
    <%- include('../partials/header'); %>
  </header>
        <div id="header">  
            <div class="contain">
                <nav>
                    <ul>
                        <li><i class="fa-solid fa-map"></i><a href="#">Roadmap</a></li>
                        <li style="border-bottom: 2px solid orange;" ><i class="fa-solid fa-hourglass-start"></i>
                            <a style="color: white" href="/viewpending">Pending</a></li>
                        <li><i class="fa-solid fa-camera"></i><a href="/capture">Capture</a></li>
                        <li><i class="fa-solid fa-person-walking-luggage"></i><a href="/visits ">Visit</a></li>
                        <li><i class="fa-solid fa-wallet"></i><a href="">Wallet</a></li>
                        <li><i class="fa-solid fa-user"></i><a href="/profile">Profile</a></li>
                        <li><i class="fa-solid fa-right-from-bracket"></i><a href="/logout">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </div>        
    </body>
</html>