*{
  margin: 0;
  padding: 0;
  font-family:"Myriad Pro", sans-serif;
  box-sizing: border-box;
}

.slidein {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

body{
  margin:0px 100px;
  padding: 0px 100px;
}
.rect_1{
	position: absolute;
    height: 5px;
	top: 60;
	right: 10;
	left: 0;
    width: 10%;
	margin-left: 20%;
}
/************sets image width on mixed color navbar****/
.rect_1 img{
  width: 100%;
}
.rect_2{
  
  width: 100%;
  border: 0;
    position:absolute;
    top: 70px;
    left: -10;
    right: 0;
}
.rect_3{
  height: 60px;
  position: absolute;
  height: 5px;
  top: -40px;
  right: 0;
  left: 0;
  width: 3%;
  margin-left: -45px;
  
}
/***targets both the logo and the links on the right***/
#header{
  margin: 20px;
  margin-left: -500px;
  position: relative;
  top: 40;
  left: 17.5%;
  right: 0;
  display: flex;
  align-items: center;
}
header *{
  display: inline-block;
}
/**targets the button link and the divs behaviour***/
.contain{
  height:400px;
  width: 200px;
  margin: 70px 100px;
  border-right: 2px solid gainsboro;
 
  justify-content: center;
}
#header h3 {
  margin-top: -50px;
}
.alert_success{
  width: 65.9%;
  background-color: greenyellow;
  color: white;
  font-size: 17px;
  padding: 10px 10px;
  padding-left: 30px;
  margin-top: -90px;
  margin-left: -100px;
}
.alert_error{
  width: 65.9%;
  background-color: red;
  color: white;
  font-size: 17px;
  padding: 10px 10px;
  padding-left: -5px;
  margin-top: -10px;
  margin-left: -100px;
  text-align: center;
}
/***targets the logo text position***/
.formheading{
  background-color: orange;
  background-image: linear-gradient(45deg, #fefefe,#a29897);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  padding-left: 10px;
  width: 110px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
   'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  margin-top: -60px;
  margin-left: -120px;// makes the logo move to the left
  
}
.formheading i{
  color: orange;
  font-size: 20px;
  border-radius: 20px;
}
/*targets the descriptive links container behaviour*/
 nav ul li{
  border-radius: 10px;
  display: block;
  list-style: none;
  margin: 5px 10px;
  text-align: left; 
  padding: 5px 10px;

  border-bottom: 2px solid #a29897;
 }
/**targets the link texts itself**/
 nav ul li a{
  text-decoration: none;
  position: relative;
  color: aqua;
  font-size: 14px;
  font-weight: 500;
 
 }

 nav ul li a:after{
  color: orange;
  content: '';
  width: 100;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: -30px;
  box-shadow: 1px 1px 2px rgb(0 0 200 / 0.4);
  border-radius: 2px;
  transition: 0.1s;
 }

 nav ul li a:hover::after{
  width: 100%;
  background-color: whitesmoke; 
  color: white;
 }

/* Style the navigation bar */
.button { 
  text-decoration: none;
  left: 1300px;
  top: 15px;
  right: 0px;
  display: flex;
  position: absolute;
  text-align: center;
  }

body{
  background-image: linear-gradient(160deg, #133950 0%, #060a0a 100%);
      opacity: 0.9;
      align-items: center;
      justify-content: center;
      left: 27%;
      position: fixed;  
    }
       a{
        color: orange
       } 
        .loginform{
            width: 350px;
            height: 200px;
            align-items: center;
            font-family: Lucida Sans Unicode;
            text-align: center;
            top: 150px;
            position: fixed;
            left: 36.5%;
        }
       
        .logo {
            color:orange;
            position: fixed;
            top: 100px;
            left: 50%;
        }
       /*** controls the general appearance of input boxes**/
        .loginform input{
        width: 100%;
        margin-bottom: 5px; 
        border: 1px solid aqua;
        border-radius: 10px;
        padding: 10px 30px;
        font-size: 13px;
        font-weight: 400;
        color: aqua;
        text-align: left;
        background-color: #060a0a;
        }
        
        .loginform :hover {
        border:2px solid #ccc;
        }
        /***********targets the texts inside the input fields****************/
        label, input{
            text-align: left;
        }
        #header input:hover {
        border:2px solid #ccc;
        }
   
		/* targets the place holder texts ****/
        input[type="text"]::placeholder {
        text-align: left;
        margin: -50px;
        color: gainsboro;
        font-size: 12px;
        }
        input[type="email"]::placeholder {
            text-align: left;
            font-size: 12px;
            }
            input[type="tel"]::placeholder {
                text-align: left;
                font-size: 12px;
                color: gainsboro;
                }
                
        input[type="password"]::placeholder {
        text-align: left;   
        font-size: 12px;
        }
		
		/* positions the login button on the inline-axis ****/
		input[type="submit"]{
    background-color: orange;
		width: 100px;
    text-align: center;
		color: white;
    cursor: pointer;
    display: inline-block;
    border: 2px solid palevioletred;
    margin: 30px 0px -60px 0px;	
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 50px;
    border-radius: 10px;
    }